body{
    background-color:#1f0e11; 
  /*  background-image: url(images/backg.jpg); */
    color : ivory;
}

.container{
    width: 800px;
    margin: 0 auto;
}

main{
    font-family: Georgia;
    color: ivory;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}
h1{
    margin: 0 auto;
    padding: 17px;
    background-color: black;
}
section{
    margin: 12px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.425);
}
.anons{
    font-size: 24px;
}

#scrollToTop{
background-image:url(images/icons/up.png) 0 0 no-repeat;
display:block; width:50px; height:50px;
position:fixed; bottom:10px; right:145px;
opacity: 0;
transition: all 0.5s ease-in;    
}