body{
    background-color:#1f0e11; 
   background-image: url(../images/back.jpg);
    color : ivory;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.container_1{
    display: flex;
    background-color: rgba(0, 0, 0, 0.250);
}

.list_of_group{
    margin-left: -150px;
    list-style: none;
}
.list_of_group li{
    font-size: 20px;
}
.list_of_group li::before{
    content: "✪";
}
main{
    font-family: Georgia;
    color: ivory;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}
h1{
    margin: 0 auto;
    padding: 17px;
    background-color: black;
}
h2{
    margin: 0 auto;
    padding: 17px;
    background-color: black;
}
section{
    margin: 12px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.250);
    text-align: justify;
}
section h3{
    margin: 0 auto;
    padding: 0;
}
section p{
    margin: 0 auto;
    padding: 15px 0 5px 0;
} 
.ph{
    margin: 12px auto;
    padding: 15px;
    background-color: black;
    text-align: center;
}
.social{
    text-align: center;
}
.social a{
    text-decoration: none;
}


.contact_list{
    list-style: none;
}
.contact_list li ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
/*.contact_list a{
    text-decoration: none;
}*/
.status{
    font-size: 18px;
    color: white;
}
.name{
    font-size: 20px;
    color: crimson;
}


#scrollToTop{
    background-image:url(images/icons/up.png) 0 0 no-repeat;
    display:block; width:50px; height:50px;
    position:fixed; bottom:10px; right:145px;
    opacity: 0;
    transition: all 0.5s ease-in;    
    }