.ticket{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15%;
    min-width: 145px;
    margin-left: 50px;
}
.ticket input{
    margin: 10px 0 10px 0;
    padding: 5px;
}
.button{
    margin-top: 20px;
}
main section div p{
    color: red;
}